body {
    margin: 0;
}

.graphic {
    padding: 1vw;
    position: relative; /* makes w and h of container responsive to window changes */
    width: 80vw;
    height: 60vh;
}

/* START OF CODE FOR BOX GRAPHICS */
.section {
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
}

/* This is Section one (3 squares) */
.section-one {
    display: flex; /* Flex is for equal thirds, also for Flexbox requirement */ 
    justify-content: space-between;
    gap: 10px; /* This creates the three boxes via spacing */
}


.section-one .third, .section-two, .section-three {
    flex: 1;
    margin: 0;
    height: 10vh; 
    background-color: lightseagreen;
}

/* This is Section 2 Big Box in the middle */
.section-two {
    background-color: lightseagreen;
}

/* This is Section 3 Thin line at the bottom below big box */
.section-three {
    background-color: lightgreen;
    margin-top: 10px;
    height: 1vh;
    margin-bottom: 0px;
}
/* END OF BOX CODE */

/* START OF CODE FOR CIRCLES */
.circle {
    position: fixed;
    border-radius: 50%;
    aspect-ratio: 1 / 1; /* Keeps all circles proportionate so you don't have to put Height and Width for each one */
    z-index: 2;
}


.graphic .circle:nth-child(1) {
    background-color: yellow;
    top: 15%; /
    left: 10%; /
    width: 1vw; 
}
.graphic .circle:nth-child(2) {
    background-color: pink;
    top: 5%; 
    left: 2%; 
    width: 2vw; 
}
.graphic .circle:nth-child(3) {
    background-color: yellow;
    top: 15%; 
    left: 2%; 
    width: 2vw; 
}
.graphic .circle:nth-child(4) {
    background-color: pink;
    top: 2%; 
    left: 15%; 
    width: 2vw; 
}
.graphic .circle:nth-child(5) {
    background-color: yellow;
    top: 5%; 
    left: 8%; 
    width: 2vw; 
}
.graphic .circle:nth-child(6) {
    background-color: pink;
    top: 14%; 
    left: 13%; 
    width: 3vw; 
}



/* START OF TRIANGLE CODE */
.triangle {
    position: absolute;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    z-index: 2;
}

.graphic .triangle:nth-child(8) {
    background-color: lightgreen;
    width: 10vw; 
    height: 20vh; 
    right: 5%; 
    top: 5%; 
}

.graphic .triangle:nth-child(9) {
    background-color: green;
    width: 10vw; 
    height: 8vh; 
    right: 10%; 
    top: 23.6%; 
}
/* END OF TRIANGLE CODE */

/* START OF IMG CODE */
.graphic .photo {
    position: absolute;
    top: 20%; 
    left: 4%; 
    width: 10vw; 
    height: auto;
    z-index: 2;
}
/* END OF IMG CODE */