body {
    margin: 0;
}

.graphic {
    border: 2px solid black;
    padding: 10px;
}

/* START OF CODE FOR BOX GRAPHICS */
.section {
    margin-bottom: 10px;
}

/* This is Section one (3 squares) */
.section-one {
    display: flex; /* Flex is for equal thirds, also for Flexbox requirment */ 
    justify-content: space-between;
    gap: 10px; /* This creates the three boxes via spacing*/
}

.section-one .third {
    flex: 1;  /* Each Third takes equal space */
    /* (border: 1px solid black;) commenting out as not needed*/
    margin: 0;
    height: 100px;
    background-color: lightseagreen;
}

/* This is Section 2 Big in the middle*/
.section-two {
    height: 100px;
    background-color: lightseagreen;
}

/* This is Section 3 Thin line at the bottom below big box */
.section-three {
    height: 10px;
    background-color: lightgreen;
}
/* END OF BOX CODE */

/* START OF CODE FOR CIRCLES */
.circle {
    position: absolute;
    border-radius: 50%;
    aspect-ratio: 1 / 1; /* Keeps all circles porportionate so you don't have to put Height and Width for each one */
}

/* Styling individual circles */
.graphic .circle:nth-child(1) {
    background-color: yellow;
    top: 1%;
    left: 1%;
    width: 40px;
}

.graphic .circle:nth-child(2) {
    background-color: pink;
    top: 8%;
    left: 20%;
    width: 50px;
}
.graphic .circle:nth-child(3) {
    background-color: yellow;
    top: 1%;
    left: 10%;
    width: 90px;
}

.graphic .circle:nth-child(4) {
    background-color: pink;
    top: 0%;
    left: 20%;
    width: 70px;
}
.graphic .circle:nth-child(5) {
    background-color: yellow;
    top: 10%;
    left: 1%;
    width: 50px;
}

.graphic .circle:nth-child(6) {
    background-color: pink;
    top: 15%;
    left: 10%;
    width: 80px;
}